@page "/createticket"
@*<Auth />*@
<div class="container"><h3>Create Ticket</h3></div>

<EditForm Model="model" OnSubmit="OnSubmit">
    <div class="container">
        <div class="mb-3">
            <label for="name" class="form-label">Helper's Id</label>
            <InputText type="text" class="form-control" id="name" @bind-Value="model.UserId" />
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Customer Name</label>
            <InputText type="text" class="form-control" id="surname" @bind-Value="model.CustomerName" />
        </div>

        <button class="btn btn-success" type="submit">Create</button>
    </div>
</EditForm>
@code {
    private CreateTicketModel model { get; set; }

    protected override void OnInitialized()
    {
        model = new CreateTicketModel();
    }

    private async Task OnSubmit()
    {
        // Saves a Http Response Message.
        var response = await Http.PostAsJsonAsync<CreateTicketModel>("https://localhost:44397/api/Tickets", model);

        NavManager.NavigateTo("/tickets");
    }


    public class CreateTicketModel
    {
        public string UserId { get; set; }

        public string CustomerName { get; set; }

        //public DateTime Created { get; set; }

        //public DateTime Changed { get; set; }
    }
}
