@page "/createticket"

<div class="container"><h3>Create Ticket</h3></div>

<EditForm Model="model" OnSubmit="OnSubmit">
    <div class="container" novalidate>
        <div class="mb-3">
            <InputText type="text" class="form-control" id="id" @bind-Value="model.UserId" placeholder="Helper's Id" required />
            <div class="invalid-feedback">
                Please enter a User Id!
            </div>
        </div>

        <div class="mb-3">
            <InputText type="text" class="form-control" id="name" @bind-Value="model.CustomerName" placeholder="Customer Name" required />
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</EditForm>
@code {
    private CreateTicketModel model { get; set; }

    protected override void OnInitialized()
    {
        model = new CreateTicketModel();
    }

    private async Task OnSubmit()
    {
        try
        {
            model.Created = DateTime.UtcNow;
            // Saves a Http Response Message.
            var response = await Http.PostAsJsonAsync<CreateTicketModel>("https://localhost:44397/api/Tickets", model);

            if (response.IsSuccessStatusCode)
                NavManager.NavigateTo("/tickets");
        }
        catch { }

    }


    public class CreateTicketModel
    {
        public string UserId { get; set; }

        public string CustomerName { get; set; }

        public DateTime Created { get; set; }

        //public DateTime Changed { get; set; }
    }
}
