@page "/"

<h1 class="mb-5 display-5" style="text-align:center;">Welcome to <strong><span style="color: #1b416b;">Help</span> <span style="color: #5190a8;">Desk</span></strong></h1>


<center>
    <p class="display-6">Remember the <span style="color: #1b416b;">Help</span> <span style="color: #5190a8;">Desk</span>'s 5 golden rules:</p>
    <ul class="display-6 list-unstyled">
        <li>1. Be polite</li>
        <li>2. Be helpful</li>
        <li>3. Be positive</li>
        <li>4. Be productive</li>
        <li>5. Be fast</li>
    </ul>
</center>
