@layout LoginLayout
@page "/login"

<center>
    <EditForm Model="model" OnSubmit="OnSubmit">
        <div class="vh-100 d-flex justify-content-evenly w-50 align-items-center">
            <div class="d-flex justify-content-end w-50">
                <img class="d-block w-75" src="images/HelpDesk.png" alt="help desk logo">
            </div>
            <div class="border border-2 h-50 ms-0"></div>
            <div class="pt-3">
                <h2 style="color: #1b416b;">Help Desk Login</h2>
                <InputText type="email" class="form-control mb-4 mt-4 border-0 w-100" id="email" @bind-Value="model.Email" placeholder="Email" required />
                <InputText type="password" class="form-control border-0 w-100" id="password" @bind-Value="model.Password" placeholder="Password" required />
                <button class="btn btn-primary mt-4 w-100" type="submit">Login</button>
                <p class="mt-2 mb-2">or</p>
                <a href="/register" class="btn btn-primary w-100">Register</a>
            </div>
        </div>
    </EditForm>
</center>

@code {
    private LoginModel model { get; set; }

    protected override void OnInitialized()
    {
        model = new LoginModel();
    }

    private async Task OnSubmit()
    {
        // Saves a Http Response Message.
        var response = await Http.PostAsJsonAsync<LoginModel>("https://localhost:44397/api/Authentication/login", model);

        if (response.IsSuccessStatusCode)
        {
            // Converts the Response Message to a string. 
            await sessionStorage.SetItemAsync<string>("auth", await response.Content.ReadAsStringAsync());

            NavManager.NavigateTo("/");
        }
    }


    public class LoginModel
    {
        public string Email { get; set; }

        public string Password { get; set; }
    }
}
