@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, rgb(27, 65, 107) 50%, #5190a8 90%);">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="background-color: #1b416b">
            <a href="createticket" class="btn btn-primary">Create Ticket</a>
            <a href="editticket" class="btn btn-primary">Edit Ticket</a>
            <a href="logout" class="btn btn-primary">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
