@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="createticket" class="align-items-end">Create Ticket</a>
            <a href="editticket" class="align-items-end">Edit Ticket</a>
            <a href="register" class="align-items-end">Register</a>
            <a href="logout">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
